.create {
    max-width: 480px;
    max-height: 720px;
    margin: 30px auto;
    background: #322315;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
}
.create h2 {
    color: #fff;
}
.create input , textarea {
    background: #fff;
    text-decoration: none;
}
.create label span {
    display: block;
    margin: 12px 0 5px;
}
.create button {
    color: #322315;
    display: block;
    width: 100px;
    background: #f0c908;
    font-size: 1em;
    margin: 20px auto;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    border: 0;
    border-radius: 4px;
}