.beer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    padding-bottom: 20px;
  }
  .beer-list .card {
    background: #322315;
    color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    font-weight: 300;
  }
  .beer-list .card:hover {
    transform: scale(1.1);
  }
  .beer-list .card h3 {
    color: #fff;
    margin-bottom: 6px;
  }
  .beer-list .card span{
      font-weight: 500;
  }
  .beer-list .card p {
    color: #fff;
    font-size: 0.9em;
  }
  .beer-list .card div {
    color: #555;
    font-size: 0.7em;
    margin: 20px 0;
    line-height: 1.5em;
  }
  .beer-list .card a {
    color: #322315;
    text-decoration: none;
    display: block;
    background: #f6ce0d;
    font-size: 0.9em;
    font-weight: 400;
    width: 100px;
    text-align: center;
    width: 120px;
    padding: 8px;
    border-radius: 4px;
    margin: 20px auto 0;
  }
  .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    filter: invert(100%);
  }