.signup-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
    background: #322315;
    color: #fff;
    border-radius: 12px;
  }
  .signup-form p {
    margin-top: 16px;
    font-size: 16px;
  }
  .signup-form label {
    display: block;
    margin: 30px auto;
  }
  .signup-form span {
    display: block;
    margin-bottom: 6px;
  }
  .signup-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #322315;
    width: 100%;
  }
.signup-form .btn {
    color: #322315;
    text-decoration: none;
    width: 120px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 0.9em;
    background: #f8da49;
    border-radius: 4px;
  }